@charset "UTF-8";
/*resseta
----------------------------------------------
tirando os espaços*/
*, *:before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: inherit;
  /*pega o tamanho da fonte do navegador*/
  padding-top: 170px;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

input, iframe, button {
  border: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #daa520;
}

/*GERAIS
------------------------------------------*/
.section {
  float: left;
  width: 100%;
}

.content {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
  /*auto centraliza direita e esquerda*/
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 10px;
}

main .l-main {
  border-radius: 10px;
  padding: 50px 40px;
  border: 1px solid #daa520;
  background-color: #FFFFE0;
  margin: 0 10px;
}

main .l-main h2 {
  font-size: 1.7rem;
  padding: 15px 0px;
}

main .l-main form div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 05px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
}

main .l-main form div input{
  width: 80%;
  height: 30px;
  padding: 15px 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 0.5px solid #daa520;
}

main .l-main form div textarea {
  width: 80%;
  padding: 05px 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 0.5px solid #daa520;
}
main .l-main form div .categoria{
  color: #daa520;
}

main .l-main form div label {
  font-size: 1.2rem;
}

main .l-main form .button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .l-main form .button button {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #daa520;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));
  background: linear-gradient(to left,#f8c850,#daa520);
  padding: 10px 25px;
  font-size: 1.2rem;
  opacity: 0.9;
}

main .l-main form .button button:hover {
  opacity: 1;
    box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.301);

}
.categoria > select{
  width: 80%;
  padding: 5px 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid #daa520;
}
@media screen and (max-width: 750px) {
  main .l-main {
    border-radius: 10px;
    padding: 10px 10px;
    border: 1px solid #daa520;
    background-color: #FFFFE0;
    margin: 0 auto;
  }
  main .l-main h2 {
    font-size: 1.7rem;
    text-align: center;
  }
  main .l-main form div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px 10px;
  }
  main .l-main form div input {
    width: 100%;
    height: 30px;
    padding: 15px 10px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 0.5px solid #daa520;
  }
  main .l-main form div textarea {
    width: 100%;
    padding: 05px 10px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 0.5px solid #daa520;
  }
  main .l-main form div label {
    padding-bottom: 5px;
    font-size: 1.2rem;
  }
  main .l-main form .button {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .l-main form .button button {
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #daa520;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));
    background: linear-gradient(#ccc, #aaa);
    padding: 20px 25px;
    font-size: 1.2rem;
    opacity: 0.9;
  }
  main .l-main form .button button:hover {
    opacity: 1;
  }

  
.categoria > select{
  width: 100%;
  padding: 5px 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid #daa520;
}

}
